* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    background: #f8f8f9;
}

.bienvenida {
    font-family: 'Croissant One', cursive;
    font-family: 'Martian Mono', monospace;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color: #1f1f23;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8.9%;
    margin: 1%;
}

/* ? Tachar*/
.tachado {
    text-decoration: line-through;
    color: rgb(116, 113, 113);
}

/* ? Apartir de acá es el header */

header {
    width: 100%;
    background-color: rgb(31, 31, 35);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#items {
    display: flex;
}

#items div:hover {
    transition: 0.7s;
    transform: translateY(-7px);
}

#items div {
    padding: 15px;
    text-align: center;
    transition: 0.7s;
}

#items img {
    width: 10vh;
    height: 10vh;
}

#items p {
    color: #f8f8f9;
}

.logo img {
    width: 17vh;
    height: 17vh;
}

/* ? Apartir de acá es el ScrollSpy/nav*/

section {
    width: 100%;
    height: 100vh;
    font-size: 800;
    display: flex;
    border-top: solid #afa288 7px;
}

section h2 {
    width: 100%;
    padding-top: 5px;
    text-align: center;
    font-family: 'Croissant One', cursive;
    font-family: 'Martian Mono', monospace;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.tracking-in-expand-fwd-top {
    animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand-fwd-top {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

nav {
    width: 100%;
    height: 5vh;
    background: #afa288;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a,
section {
    color: #1f1f23;
}

/* TODOS: Esto es "Como comprar"*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 {
    grid-column: 1 / 7;
}

.item2 {
    grid-column: 1 / 4;
}

.item3 {
    grid-column: 4 / 7;
}

.grid-container p,
.grid-container h3 {
    font-size: 20px;
}

/* TODOS: Esto es "Devolucion"*/

#about {
    display: flex;
    flex-direction: column;
}

#about h3 {
    text-align: center;
    padding: 3px;
}

#about li,
#about p {
    width: 70%;
    margin-left: 13%;
    padding: 5px;
    text-align: center;
}

/* TODOS: Esto es "Teminos y condiciones"*/

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services h3 {
    text-align: center;
    padding: 3px;
}

#services p {
    width: 70%;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: #1f1f23;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 15px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

/* TODOS: Esto es "Contactos"*/

.container-contactos {
    display: grid;
    gap: 10px;
    padding: 10px;
    width: 100%
}

.container-contactos>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.subtitulo {
    grid-column: 1 / 7;
}

.brian {
    grid-column: 1 / 3;
    border: solid #afa288 3px;
    border-radius: 7px;
    box-shadow: rgb(31, 31, 35, 0.7) 13px 13px 10px;
}

.reyno {
    grid-column: 3 / 5;
    border: solid #afa288 3px;
    border-radius: 7px;
    box-shadow: rgb(31, 31, 35, 0.7) 13px 13px 10px;
}

.tito {
    grid-column: 5 / 7;
    border: solid #afa288 3px;
    border-radius: 7px;
    box-shadow: rgb(31, 31, 35, 0.7) 13px 13px 10px;
}

.brian h2,
.brian h3,
.reyno h2,
.reyno h3,
.tito h2,
.tito h3 {
    font-size: 30px;
}

.brian p,
.brian li,
.reyno p,
.reyno li,
.tito p,
.tito li {
    font-size: 20px;
}

.brian li,
.reyno li,
.tito li {
    text-align: left;
    padding: 5px 0 5px 15px;
}

/* * Responsive*/

input,
label,
.wrapper {
    display: none;
}

@media (max-width:750px) {

    aside,
    .container-publicidad {
        display: none;
    }

    .bienvenida {
        padding-top: 35%;
        font-size: 18px;
    }

    #items {
        display: none;
    }

    input,
    label {
        display: block;
    }

    .wrapper {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(-135deg, rgb(26, 25, 25), #f8f8f9);
        /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
        /* clip-path: circle(25px at calc(0% + 45px) 45px); */
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.3s ease-in-out;
    }

    #active:checked~.wrapper {
        clip-path: circle(75%);
    }

    .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        right: 15px;
        /* left: 20px; */
        top: 19.5px;
        height: 60px;
        width: 60px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        color: #f8f8f9;
        cursor: pointer;
        /*background: #DEEADE;*/
        background: #1f1f23;
        transition: all 0.3s ease-in-out;
    }

    #active:checked~.menu-btn {
        background: #f8f8f9;
        color: #1f1f23;
    }

    #active:checked~.menu-btn i:before {
        content: "\f00d";
    }

    .wrapper ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }

    .wrapper ul li {
        margin: 15px 0;
    }

    .wrapper ul li a {
        color: none;
        text-decoration: none;
        font-size: 30px;
        font-weight: 500;
        padding: 5px 30px;
        color: #fff;
        position: relative;
        line-height: 50px;
        transition: all 0.3s ease;
    }

    .wrapper ul li a:after {
        position: absolute;
        content: "";
        background: #fff;
        width: 100%;
        height: 50px;
        left: 0;
        border-radius: 50px;
        transform: scaleY(0);
        z-index: -1;
        transition: transform 0.3s ease;
    }

    .wrapper ul li a:hover:after {
        transform: scaleY(1);
    }

    .wrapper ul li a:hover {
        color: #4158d0;
    }

    input[type="checkbox"] {
        display: none;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        text-align: center;
        width: 100%;
        color: #202020;
    }

    .content .title {
        font-size: 40px;
        font-weight: 700;
    }

    .content p {
        font-size: 35px;
        font-weight: 600;
    }

    /* ! ScrollSpy/nav*/

    section {
        height: 120vh;
    }

    #about {
        height: 155vh;
    }

    #services {
        height: 210vh;
    }

    #contact {
        height: 200vh;
    }

    /* ? Esto es "Como comprar"*/

    .grid-container {
        gap: 0px;
        padding: 0px;
    }

    .item1 {
        grid-column: 1 / 6;
    }

    .item2 {
        grid-column: 1 / 5;
    }

    .item2 h3,
    .item2 p {
        font-size: 17px;
    }

    .item3 {
        grid-column: 1 / 5;
    }

    .item3 p {
        display: none;
    }

    iframe {
        width: 40vh;
        height: auto;
    }

    /* ? Esto es "Devolucion"*/

    .container-guia h3,
    .container-guia p {
        font-size: 13px;
    }

    /* ? Esto es "Contactos"*/

    .subtitulo {
        grid-column: 1 / 7;
    }

    .brian,
    .reyno,
    .tito {
        grid-column: 1 / 7;
    }

    /* ? Footer*/

    footer img {
        width: 20vh;
    }

    .follow {
        display: flex;
        flex-direction: column;
        padding: 8%;
    }

    .follow img {
        width: 8vh;
        padding: 15%;
    }

}