* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    background: #f8f8f9;
}

/* ? Apartir de acá es el header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(31, 31, 35);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

#items {
    display: flex;
}

#items div:hover {
    transition: 0.7s;
    transform: translateY(-7px);
}

#items div {
    padding: 15px;
    text-align: center;
    transition: 0.7s;
}

#items img {
    width: 10vh;
    height: 10vh;
}

#items p {
    color: #f8f8f9;
}

.logo img {
    width: 17vh;
    height: 17vh;
}

.nom-usuario {
    font-size: 20px;
    color: #afa288;
}

/* ? Apartir de acá es el main/articulo*/

.container-producto {
    background-color: #afa288;
    margin: 13% 3% 3% 3%;
    height: 82vh;
    border-radius: 7px;
}

.container-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15% 0 0 0;
}

img {
    width: 50vh;
    border-radius: 16px;
    padding: 5px;
}

.container-descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
}

.container-descripcion p {
    font-size: 20px;
}

/* * Carrito*/

    .container-boton{
        margin: 2%;
    }

    button {
        border: none;
        width: 30vw;
        height: 4vh;
        border-radius: 9px;
        background: black;
        color: #fff;
    }

/* ? Apartir de acá es el footer*/

footer {
    height: 150px;
    width: 100%;
    background-color: #1f1f23;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    width: 23vh;
}

small {
    color: #f8f8f9;
    font-size: 17px;
}

.follow {
    display: flex;
    width: 15%;
    justify-content: space-around;
}

.follow img {
    width: 13vh;
}

/**Responsive*/

input,
label,
.wrapper {
    display: none;
}

@media (max-width:750px) {

    /* ? header*/
    #items {
        display: none;
    }

    input,
    label {
        display: block;
    }

    .wrapper {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(-135deg, rgb(26, 25, 25), #f8f8f9);
        /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
        /* clip-path: circle(25px at calc(0% + 45px) 45px); */
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.3s ease-in-out;
    }

    #active:checked~.wrapper {
        clip-path: circle(75%);
    }

    .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        right: 15px;
        /* left: 20px; */
        top: 19.5px;
        height: 60px;
        width: 60px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        color: #f8f8f9;
        cursor: pointer;
        /*background: #DEEADE;*/
        background: #1f1f23;
        transition: all 0.3s ease-in-out;
    }

    #active:checked~.menu-btn {
        background: #f8f8f9;
        color: #1f1f23;
    }

    #active:checked~.menu-btn i:before {
        content: "\f00d";
    }

    .wrapper ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }

    .wrapper ul li {
        margin: 15px 0;
    }

    .wrapper ul li a {
        color: none;
        text-decoration: none;
        font-size: 30px;
        font-weight: 500;
        padding: 5px 30px;
        color: #fff;
        position: relative;
        line-height: 50px;
        transition: all 0.3s ease;
    }

    .wrapper ul li a:after {
        position: absolute;
        content: "";
        background: #fff;
        width: 100%;
        height: 50px;
        left: 0;
        border-radius: 50px;
        transform: scaleY(0);
        z-index: -1;
        transition: transform 0.3s ease;
    }

    .wrapper ul li a:hover:after {
        transform: scaleY(1);
    }

    .wrapper ul li a:hover {
        color: #afa288;
    }

    input[type="checkbox"] {
        display: none;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        text-align: center;
        width: 100%;
        color: #202020;
    }

    /* ? main*/
    main {
        margin-top: 40%;
        height: 75vh;
    }

    img {
        width: 75vw;
    }

    .container-producto {
        margin-top: 35%;
        height: 170vh;
    }

    .container-img {
        display: flex;
        flex-direction: column;
    }

    /* ? footer*/
    footer img {
        width: 18vh;
    }

    .follow {
        display: flex;
        flex-direction: column;
        padding: 4% 15% 4% 0%;
    }

    .follow img {
        width: 7vh;
        padding: 15%;
    }

}